.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.active-card {
  width: 130px;
  height: 130px;
  background-color: chocolate;
}
.status-container {
  width: 200px;
  height: 200px;
  padding: 30px;
  text-align: center;
  background-color: rgb(164, 181, 181);
  text-align: center;
}
.play-btn {
  width: 130px;
  height: 40px;
  margin-left: 10px;
}
